@{
    ViewData["Title"] = "Về Chúng Tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">
                <div class="text-center">
                    <img class="img-fluid" src="~/img/final.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 py-3 pr-lg-5">
                <h2 class="title-section">Giới thiệu<span class="marked"> Trung Tâm Tin Học Thống Kê</span> khu vực II</h2>
                <div class="divider"></div>
                <p>Trung tâm Tin học và Tính toán – Viện Hàn lâm Khoa học và Công nghệ Việt Nam (Tên giao dịch tiếng Anh: Center for Informatics and Computing) được thành lập theo Quyết định số 107/QĐ-KHCNVN ngày 16 tháng 2 năm 2009 của Chủ tịch Viện Khoa học và Công nghệ Việt Nam với tên gọi là Trung tâm Tin học.</p>
                <a asp-area="" asp-controller="About" asp-action="Introduction" class="btn btn-primary">Xem Thêm</a>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section bg-light features">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <h2 class="title-section"><span class="marked">Cơ cấu</span> và Tổ Chức</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="row owl-carousel wow fadeInUp">
            <div class="col-md-12" id="testimonials">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                1. Ban Giám Đốc
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Điều hành, quản lý trực tiếp mọi lĩnh vực hoạt động của Trung tâm.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                2. Phòng Quản lý tổng hợp
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="entry-footer row justify-content-center">
                                    <div class="col-4">
                                        <div style="text-align: center;"><b>Chức Năng</b></div>
                                        <ul>
                                            <li>Quản lý về tổ chức, bộ máy; quản lý và sử dụng cán bộ, công chức, viên chức của đơn vị theo quy định của Nhà nước và của Viện Hàn lâm.</li>
                                            <li>Quản lý tài chính, vật tư, tài sản, thiết bị và cơ sở vật chất của Trung tâm.</li>
                                            <li>Quản lý tiền lương và hành chính.</li>
                                            <li>Quản lý hoạt động khoa học, kinh phí, hợp tác quốc tế và đào tạo cán bộ.</li>
                                        </ul>
                                    </div>
                                    <div style="border: 1px solid #9F0311; border-radius: 5px;" class="col-7">
                                        <div style="text-align: center;"><b>Nhiệm vụ</b></div>
                                        <ul>
                                            <li>Quản lý các hoạt động khoa học, tổ chức thẩm định, phối hợp kiểm tra, đánh giá, nghiệm thu kết quả thực hiện các chương trình, đề tài, dự án nghiên cứu khoa học và chuyển giao công nghệ. Tổng hợp báo cáo về các lĩnh vực nghiên cứu khoa học, hợp tác quốc tế, chuyển giao công nghệ và các lĩnh vực có liên quan.</li>
                                            <li>Tổ chức các hội nghị, hội thảo khoa học và sinh hoạt học thuật.</li>
                                            <li>Thực hiện công tác tổ chức cán bộ, lao động, tiền lương và giải quyết các chế độ chính sách cho cán bộ công nhân viên.</li>
                                            <li>Thực hiện công tác hành chính - quản trị của đơn vị.</li>
                                            <li>Theo dõi và quản lý công tác xây dựng, sửa chữa; mua sắm và quản lý vật tư, thiết bị văn phòng, nhà cửa và các tài sản khác của cơ quan.</li>
                                            <li>Giúp lãnh đạo Trung tâm quản lý, điều hành các nguồn tài chính. Tổ chức thẩm định, xét duyệt tạm ứng, quyết toán tài chính theo quy định. Thường xuyên kiểm tra, theo dõi tình hình sử dụng tài chính của đơn vị.</li>
                                            <li>Lập dự toán và tổng hợp báo cáo tài chính hàng năm.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                3. Phòng Nội dung thông tin số
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="entry-footer row justify-content-center">
                                    <div style="border: 1px solid #9F0311; border-radius: 5px;" class="col-4">
                                        <div style="text-align: center;"><b>Chức Năng</b></div>
                                        <ul>
                                            <li>Phòng Nội dung thông tin số quản lý, điều hành, duy trì hoạt động Cổng thông tin điện tử của Viện Hàn lâm (vast.gov.vn); bảo đảm an toàn, bảo mật hệ thống ứng dụng công nghệ thông tin, an toàn máy tính, an toàn mạng của Viện Hàn lâm;</li>
                                            <li>Thực hiện cung cấp các dịch vụ liên quan đến lĩnh vực nội dung số cho các cơ quan, đơn vị trong và ngoài Viện Hàn lâm.</li>
                                        </ul>
                                    </div>
                                    <div class="col-7">
                                        <div style="text-align: center;"><b>Nhiệm vụ</b></div>
                                        <ul>
                                            <b>a. Đảm bảo vận hành Trang thông tin điện tử Viện Hàn lâm:</b>
                                            <li>Lựa chọn, biên tập tin bài và trình Ban Biên tập phê duyệt;</li>
                                            <li>Kiểm tra nguồn gốc thông tin, đánh giá chất lượng thông tin; trong trường hợp cần thiết thì trao đổi với tổ chức, cá nhân cung cấp thông tin để xác thực, bổ sung hoặc làm rõ nội dung thông tin;</li>
                                            <li>Liên hệ với tổ chức phụ trách lĩnh vực chuyên môn để làm rõ thông tin có liên quan trong trường hợp thông tin đó do tổ chức, cá nhân ở tổ chức khác cung cấp;</li>
                                            <li>Phân loại tin bài, biên tập, cập nhật kịp thời và chịu trách nhiệm về thông tin được đăng tải trên Trang TTĐT;</li>
                                            <li>Quản lý và tổ chức cập nhật nội dung của Trang TTĐT theo chỉ đạo của Ban Biên tập;</li>
                                            <li>Yêu cầu các đơn vị, cá nhân trực thuộc Viện Hàn lâm cung cấp thông tin về hoạt động khoa học công nghệ để có tin tức cập nhật hàng ngày đăng lên Trang TTĐT;</li>
                                            <li>Tham gia các sự kiện do Lãnh đạo Viện chủ trì để thu thập thông tin, bài viết cập nhật đăng lên Trang TTĐT;</li>
                                            <li>Là đầu mối tiếp nhận các văn bản, tin, bài viết liên quan đến hoạt động khoa học công nghệ của các tổ chức, cá nhân gửi đăng lên Trang TTĐT;</li>
                                            <li>Là đầu mối tiếp nhận và chuyển đến các đơn vị có liên quan câu hỏi của độc giả và các tổ chức gửi đến Trang TTĐT;</li>
                                            <li>Phối hợp với Ban Biên tập xây dựng kế hoạch hàng năm về những mảng thông tin cần đăng tải trên Trang TTĐT;</li>
                                            <li>Đề xuất mua sắm, sửa chữa thường xuyên các loại tài sản, trang thiết bị phục vụ cho công tác vận hành Trang TTĐT;</li>
                                            <li>Lập dự toán, thanh quyết toán và tổng hợp báo cáo tài chính hàng năm cho công tác vận hành Trang TTĐT.</li>
                                            <b>b. Cung cấp các dịch vụ và thực hiện các công việc thuộc lĩnh vực nội dung thông tin số:</b>
                                            <li>Thiết kế, xây dựng Trang TTĐT;</li>
                                            <li>Cung cấp dịch vụ thu thập, biên soạn nội dung, số hoá thành dữ liệu điện tử phục vụ cho công tác truyền thông và lưu trữ.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                4. Phòng Đảm bảo Công nghệ thông tin
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="entry-footer row justify-content-center">
                                    <div class="col-4">
                                        <div style="text-align: center;"><b>Chức Năng</b></div>
                                        <ul>
                                            <li>Phòng Đảm bảo Công nghệ thông tin chuyên trách về công nghệ thông tin trong quản lý hoạt động ứng dụng công nghệ thông tin, quy hoạch phát triển hệ thống công nghệ thông tin phục vụ công tác chỉ đạo, điều hành hoạt động của Viện Hàn lâm Khoa học và Công nghệ Việt Nam và các đơn vị trực thuộc Viện Hàn lâm.</li>
                                        </ul>
                                    </div>
                                    <div style="border: 1px solid #9F0311; border-radius: 5px;" class="col-7">
                                        <div style="text-align: center;"><b>Nhiệm vụ</b></div>
                                        <ul>
                                            <li>Phát triển cơ sở hạ tầng công nghệ thông tin, mạng lưới truyền thông;</li>
                                            <li>Triển khai các giải pháp tin học hóa quản lý hành chính, dịch vụ hành chính điện tử cũng như tích hợp dữ liệu chuyên ngành, thông tin khoa học trên mạng diện rộng;</li>
                                            <li>Quản lý kỹ thuật, điều hành và duy trì hoạt động của cổng trang thông tin điện tử của Viện;</li>
                                            <li>Quản lý, khai thác hệ thống tính toán hiệu năng cao phục vụ nhu cầu tính toán khoa học trong Viện và hợp tác quốc tế; phát triển tính toán mạng lưới theo phân công của Chủ tịch Viện;</li>
                                            <li>Phối hợp với các đơn vị có liên quan thu nhập dữ liệu, lưu trữ, xử lý thông tin dữ liệu số chuyên ngành thuộc Viện Hàn lâm Khoa học và Công nghệ Việt Nam;</li>
                                            <li>Thực hiện các dịch vụ công nghệ thông tin trong lĩnh vực công nghệ mạng lưới, giải pháp tích hợp dữ liệu, phần mềm, công nghệ máy chủ hiệu năng cao phục vụ cơ sở dữ liệu trên mạng,..</li>
                                            <li>Nghiên cứu, phát triển, sản xuất, cung cấp các sản phẩm và dịch vụ phần mềm; triển khai các hoạt động dịch vụ trong lĩnh vực phần mềm công nghệ thông tin và truyền thông.</li>
                                            <li>Nghiên cứu, phát triển, sản xuất, cung cấp các sản phẩm và dịch vụ phần mềm phục vụ nhiệm vụ đẩy mạnh ứng dụng công nghệ thông tin trong hoạt động của các cơ quan nhà nước.</li>
                                            <li>Nghiên cứu, phát triển, sản xuất, cung cấp các sản phẩm và dịch vụ phần mềm phục vụ nhiệm vụ hoạt động sản xuất kinh doanh của các doanh nghiệp.</li>
                                            <li>Nghiên cứu, phát triển, sản xuất, cung cấp các sản phẩm và dịch vụ phần mềm trong các lĩnh vực kinh tế xã hội khác.</li>
                                            <li>Hợp tác liên doanh, liên kết để sản xuất gia công các sản phẩm phần mềm công nghệ thông tin và truyền thông.</li>
                                            <li>Tư vấn, thiết kế, đánh giá, giám sát, thẩm định, xây dựng các quy hoạch, kế hoạch, chương trình, đề án, dự án trong lĩnh vực phần mềm công nghệ thông tin và truyền thông.</li>
                                            <li>Dịch vụ chuyển giao công nghệ, giám sát, hỗ trợ kỹ thuật, cài đặt, chạy thử phần mềm công nghệ thông tin và truyền thông.</li>
                                            <li>Quản lý theo dõi đường truyền Internet. Cung cấp dịch vụ kết nối Internet cho các đơn vị trong khuôn viên khu công nghệ cao 18 Hoàng Quốc Việt, Cầu Giấy, Hà Nội. Thiết lập, quản lý và vận hành hệ thống máy chủ phục vụ cho hoạt động của hệ thống ứng dụng dùng chung: cổng/trang thông tin điện tử, thư điện tử và các ứng dụng phục vụ quản lý của Viện Hàn lâm.</li>
                                            <li>Xây dựng và quản trị Bảng tin điện tử màn hình lớn bằng công nghệ tính toán song song.</li>
                                            <li>Đảm bảo và triển khai các dịch vụ: Kaspersky, Email, Web, Video Conferencing, Cổng thông tin, Lưu trữ và tích hợp dữ liệu cho Lãnh đạo Viện, các tổ chức giúp việc Chủ tịch Viện.</li>
                                            <li>Xây dựng, phát triển, lập quy hoạch và quản lý hệ thống mạng nội bộ và mạng diện rộng (VAST Campus) truyền dẫn tốc độ cao trong khuôn viên khu công nghệ cao. Theo dõi tổng thể của hoạt động Trung tâm mạng thông qua hệ thống phần mềm giám sát (Cacti, Nagios, Ntop)</li>
                                            <li>Đảm bảo vận hành dịch vụ mạng Viện Hàn lâm (VAST NET): cung cấp các dịch vụ DHCP, địa chỉ IP tĩnh, hệ thống giám sát máy chủ và thiết bị mạng, hệ thống quản lý cán bộ, thư điện tử, hệ thống điều hành tác nghiệp, hệ thống lưu trữ và chia sẻ dữ liệu nội dung số cho các đơn vị trực thuộc Viện Hàn lâm.</li>
                                            <li>Bảo trì, sữa chữa các thiết bị công nghệ thông tin và phần mềm, khắc phục các lỗi bảo mật, phòng chống các cuộc tấn công mạng, virus, thư rác… của Trung tâm Tích hợp dữ liệu và các đơn vị giúp việc Chủ tịch Viện.</li>
                                            <li>Tư vấn, thiết kế, đánh giá, giám sát, thẩm định, xây dựng các đề án, dự án trong lĩnh vực công nghệ thông tin và truyền thông.</li>
                                            <li>Dịch vụ chuyển giao công nghệ trong lĩnh vực công nghệ thông tin và truyền thông; giám sát, hỗ trợ kỹ thuật, lắp đặt, chạy thử, tích hợp hệ thống; dịch vụ kỹ thuật về mạng và truyền thông; sửa chữa, bảo trì hoạt động của hệ thống công nghệ thông tin và truyền thông.</li>
                                            <li>Trực tiếp quản lý, vận hành hệ thống hạ tầng công nghệ thông tin của Viện Hàn lâm; bảo đảm an ninh mạng, an toàn thông tin số và hệ thống bảo mật các dịch vụ, ứng dụng dùng chung trong toàn Viện Hàn lâm; hoạt động dịch vụ trong lĩnh vực công nghệ thông tin và truyền thông.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                5. Phòng Công nghệ tính toán và Ứng dụng
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="entry-footer row justify-content-center">
                                    <div style="border: 1px solid #9F0311; border-radius: 5px;" class="col-4">
                                        <div style="text-align: center;"><b>Chức Năng</b></div>
                                        <ul>
                                            <li>Phòng Công nghệ tính toán và ứng dụng  thực hiện hoạt động công nghệ cao, nghiên cứu và triển khai dự án, tư vấn, xây dựng, chuyển giao công nghệ trong lĩnh vực công nghệ thông tin, tự động hóa và tính toán hiệu năng cao phục vụ phát triển kinh tế xã hội.</li>
                                        </ul>
                                    </div>
                                    <div class="col-7">
                                        <div style="text-align: center;"><b>Nhiệm vụ</b></div>
                                        <ul>
                                            <li>Tổ chức thực hiện các hoạt động nghiên cứu và chuyển giao công nghệ trong lĩnh vực Tính toán khoa học và Công nghệ Tính toán hiệu năng cao.</li>
                                            <li>Thực hiện các đề tài, đề án, dự án… về Tính toán khoa học và Công nghệ Tính toán hiệu năng cao.</li>
                                            <li>Phối hợp với các đơn vị trong và ngoài Viện Hàn lâm triển khai ứng dụng, chia sẻ tài nguyên tính toán phục vụ nghiên cứu khoa học và tính toán các bài toán lớn của quốc gia.</li>
                                            <li>Tổ chức các hội nghị, hội thảo khoa học và sinh hoạt học thuật liên quan đến Tính toán khoa học và Công nghệ Tính toán hiệu năng cao.</li>
                                            <li>Hỗ trợ và thúc đẩy nghiên cứu khoa học và nghiên cứu triển khai các công nghệ mới liên quan đến Tính toán khoa học và Công nghệ Tính toán hiệu năng cao trong toàn Viện Hàn lâm, trong và ngoài nước.</li>
                                            <li>Tổ chức các hoạt động dịch vụ trong lĩnh vực Tính toán khoa học và Công nghệ Tính toán hiệu năng cao.</li>
                                            <li>Tham gia nghiên cứu trong lĩnh vực công nghệ thông tin, tính toán khoa học và công nghệ tính toán hiệu năng cao. Thiết kế, chế tạo các sản phẩm phần mềm, các hệ thống nhúng và các sản phẩm công nghệ thông tin và tự động hóa;</li>
                                            <li>Tư vấn và thực hiện các dự án xây dựng công trình, dự án ứng dụng công nghệ và các dịch vụ khác có liên quan đến công nghệ thông tin, tính toán khoa học và công nghệ tính toán hiệu năng cao, gồm các hoạt động: lập dự án, quản lý dự án, khảo sát, thiết kế sơ bộ, thiết kế thi công, xây dựng công trình, soạn thảo hồ sơ mời thầu, lựa chọn nhà thầu, thẩm tra, thẩm định, giám sát kỹ thuật.</li>
                                            <li>Hợp tác quốc tế về nghiên cứu và triển khai ứng dụng khoa học và công nghệ theo quy định của Nhà nước và của Viện Hàn lâm.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <a href="~/About/Structure" class="btn btn-outline-danger w-25 ml-0">Xem thêm</a>
            </div>
            
        </div> 
    </div> <!-- .container -->
</div> <!-- .page-section -->

<!-- chức năng -->
<div class="page-section features">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <h2 class="title-section"><span class="marked">Chức Năng</span> của Chúng Tôi</h2>
            <div class="divider mx-auto"></div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 py-3 wow fadeInUp">
                <div class="display-3 text-center"><span class="mai-shapes"></span></div>
                <h5 class="text-center font-weight-bold">Chuyên phụ trách về dịch vụ công nghệ thông tin, chuyển đổi số</h5>
                <p class="size">Xây dựng và phát triển Chính phủ điện tử/Chính phủ số; quy hoạch phát triển hệ thống công nghệ thông tin phục vụ công tác quản lý, nghiên cứu, ứng dụng, chỉ đạo và điều hành hoạt động của Viện Hàn lâm và các đơn vị trực thuộc Viện Hàn lâm; bảo đảm, an toàn, bảo mật hệ thống ứng dụng công nghệ thông tin, an toàn máy tính, an toàn mạng của Viện Hàn lâm.</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
                <div class="display-3 text-center"><span class="mai-shapes"></span></div>
                <h5 class="text-center font-weight-bold">Cung cấp và hỗ trợ</h5>
                <p> Cung cấp và hỗ trợ các dịch vụ tính toán hiệu năng cao cho các đơn vị trực thuộc Viện Hàn lâm.</p>
            </div>
            <div class="col-lg-4 py-3 wow fadeInUp">
                <div class="display-3 text-center"><span class="mai-shapes"></span></div>
                <h5 class="text-center font-weight-bold">Nghiên cứu, ứng dụng và triển khai trong lĩnh vực công nghệ cao</h5>
                <p>Đặc biệt Nghiên cứu, ứng dụng và triển khai trong lĩnh vực tính toán hiệu năng cao, công nghệ thông tin và các lĩnh vực liên quan.</p>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->

<div class="page-section features">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 py-3 wow fadeInLeft">
                <h2 class="title-section"><span class="marked">Nhiệm Vụ </span>của Chúng tôi</h2>
                <div class="divider"></div>
                <p class="mb-2">Phát triển và bảo đảm hạ tầng kỹ thuật công nghệ thông tin phục vụ công tác quản lý và điều hành, nghiên cứu khoa học, tính toán hiệu năng cao, triển khai ứng dụng và Chuyển đổi số của Viện Hàn lâm.</p>
                <ul class="mb-4">
                    <li>
                        Xây dựng, quản lý, duy trì và khai thác hiệu quả các hệ thống thông tin.
                    </li>
                    <li>
                        Cung cấp các dịch vụ trực tuyến của Viện Hàn lâm.
                    </li>
                    <li>
                        Nghiên cứu, phát triển các phần mềm dùng chung phục vụ chuyển đổi số trong các hoạt động quản lý của Viện Hàn lâm.
                    </li>
                    <li>
                        Là đơn vị đầu mối của Viện Hàn lâm cung cấp, quản lý và sử dụng dịch vụ chứng thực chữ ký số.
                    </li>
                    <li>
                        Nghiên cứu, triển khai, ứng dụng và cung cấp dịch vụ trong lĩnh vực công nghệ thông tin, tính toán hiệu năng cao.
                    </li>
                    <li>
                        Hợp tác quốc tế về nghiên cứu và triển khai ứng dụng khoa học và công nghệ theo quy định.
                    </li>
                    <li>
                        Quản lý về tổ chức, bộ máy của đơn vị.
                    </li>
                    <li>
                        Quản lý về tài chính, tài sản của đơn vị theo quy định của pháp luật và của Viện Hàn lâm.
                    </li>
                    <li>
                        Thực hiện các nhiệm vụ khác do Chủ tịch Viện Hàn lâm giao.
                    </li>
                </ul>
                <a href="#" class="btn btn-outline-danger">Xem thêm</a>
            </div>
            <div class="col-lg-6 py-3 wow zoomIn">
                <div class="text-center">
                    <img style="object-fit:cover; width: auto" class="img-fluid" src="~/img/TRUNG TAM TIN HOC.png" alt="">
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</div> <!-- .page-section -->



