@{
    ViewData["Title"] = "Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="~/Home/Index">Trang Chủ</a></li>
                        <li class="breadcrumb-item"><a href="~/About">Về Chúng Tôi</a></li>
                        <li class="breadcrumb-item active">Giới Thiệu</li>
                    </ul>
                </nav>
                <h1 class="text-center">Giới Thiệu</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 py-3">
                <h5><b>Giới Thiệu</b></h5>
                Trung tâm Tin học và Tính toán – Viện Hàn lâm Khoa học và Công nghệ Việt Nam (Tên giao dịch tiếng Anh: Center for Informatics and Computing) được thành lập theo Quyết định số 107/QĐ-KHCNVN ngày 16 tháng 2 năm 2009 của Chủ tịch Viện Khoa học và Công nghệ Việt Nam với tên gọi là Trung tâm Tin học. Ngày 19/02/2013 Chủ tịch Viện Hàn lâm Khoa học và Công nghệ Việt Nam ban hành quyết định số 62/QĐ-VHL về việc chuyển đổi Trung tâm Tin học thành Trung tâm Tin học và Tính toán.
                Từ khi thành lập đến nay, mặc dù là đơn vị mới còn gặp nhiều khó khăn, Ban Lãnh đạo và toàn thể nhân viên của Trung tâm đã nỗ lực vượt bậc thực hiện các nhiệm vụ do Chủ tịch Viện giao và đạt được một số thành công nhất định.
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h5><b>Tổ Chức và Nhân Sự</b></h5>
            </div>
        </div>
        <div id="to-chuc-nhan-su" class="row justify-content-center">
            <div class="col-lg-3">
                <div style="text-align: center;"><b>Tổ Chức</b> <br /></div>
                Năm 2009, lúc mới thành lập TTTH chỉ có 2 phòng chuyên môn, chưa có cán bộ quản lý cấp phòng.
                Năm 2011, thành lập thêm 01 phòng và kiện toàn bộ máy quản lý.
                Trong đề án phát triển Trung tâm, các phòng chuyên môn công nghệ cao về CNTT sẽ được thành lập
            </div>
            <div class="col-lg-3">
                <div style="text-align: center;"><b>Nhân sự</b> <br /></div>
                Từ lúc thành lập, nhân sự của TTTH còn mỏng, mới chỉ có 01 PGS.TSKH và 02 Tiến sĩ.
                Cho đến nay, TT Tin học và Tính toán đã có 02 PGS, 01 TSKH, 02 Tiến sĩ, 09 Thạc sỹ, 06 cử nhân cùng với đội ngũ kỹ sư có trình độ đã tạo nên những thành công bước đầu của TT.
                Các cán bộ nhân viên của Trung tâm liên tục được cử đi học tập, bồi dưỡng nâng cao trình độ chuyên môn cũng như nghiệp vụ quản lý
            </div>
            <div class="col-lg-3">
                <div style="text-align: center;"><b>Hội đồng khoa học</b> <br /></div>
                <ul>
                    <li>Chủ tịch: PGS.TS.NCVCC. Phạm Hồng Quang</li>
                    <li>Phó chủ tịch: TS.NCVC. Phạm Hồng Công</li>
                    <li>Thư ký: ThS. Phạm Quang Chính</li>
                </ul>
            </div>
            <div class="col-lg-8">
                <img class="img-fluid" src="~/assets/img/person/SodococauTTTH.png" alt="cocautochuc-hinhanh" style="height: 400px">
            </div>
        </div>

        <div id="thanh-tuu" class="row justify-content-center">
            <div class="col-lg-9">
                <h5><b>NHỮNG THÀNH TỰU NỔI BẬT TRONG 5 NĂM GẦN ĐÂY</b></h5> <br />

                Năm 2019, nhân dịp kỷ niệm 10 năm thành lập, Trung tâm Tin học và Tính toán đã vinh dự được nhận bằng khen của Chủ tịch Viện Hàn lâm Khoa học và Công nghệ Việt Nam cho việc phát triển ứng dụng công nghệ thông tin tại Viện Hàn lâm cũng như bước đầu tiến tới triển khai hệ thống phát hiện vật ngoại lai và động vật trên khu bay.
            </div>
        </div>
    </div>
</div>
